{% extends "base.html" %}

{% block content %}

<div class="container">
    <h3>Select filter options:</h3>
    <form method="POST" action="" enctype="multipart/form-data">

    {% csrf_token %}

    <div class="container">
        {% for field in form %}
    <div class="container left_float">

        <h3><label class="label label-primary">{{ field.label }}</label>
        </h3><h4>{{ field }}</h4>
    </div>
        {% endfor %}
    </div>

        <div class="container">
        <button class="btn btn-primary btn-lg btn-block" id="SubmittButton" type="submit" name="submit_button">Filter</button>
        </div>
    </form>
        {{ test }}
        {{ sub_category }}
    </div>

<div class="panel_heading">
              <h3 class="panel-title"><b>{{ category.category }} projects</b></h3>
          </div>
          <div class="panel panel-default">

            <div class="panel-body">
                        {% if projects %}
                        {% for project in projects %}
                        <div class="project_item">
                        <h3>
                            <a href="{% url 'projects:project_viewer' project.user.username project.id project.slug %}">{{ project.title }}</a>
                        </h3>
                        <div class="project_atributes">
                        Author: <b><a href="{% url 'projects:profile_page' project.user.username %}">{{ project.user.username }}</a></b>
                        Category:  <b>{{ project.category }}</b>
                        Sub-category:  <b>{{ project.sub_category }}</b>
                        Level:  <b>{{ project.difficulty_level }}</b>
                        Publication date: <b>{{ project.pub_date }}</b>
                        Likes = <b>{{ project.likes }}</b>
                        </div>
                        <p>{{ project.description }}</p>
                        </div>
                        {% endfor %}

                        {% else %}
                        <a href="" class="list-group-item">
                        <h4 class="list-group-item-heading">No match found!</h4>
                        <p class="list-group-item-text">Try another combination!</p>
                        </a>
                        {% endif %}
                
                </div>
              
                <div class="pagination">
                                {% if projects.has_previous %}
                                <li><a href="?page={{ projects.previous_page_number }}">&laquo;</a></li>
                                    {% endif %}
                                        <li><a>Page {{ projects.number }} of {{ projects.paginator.num_pages }}</a></li>
                                    {% if projects.has_next %}
                                        <li><a href="?page={{ projects.next_page_number }}">&raquo</a></li>
                                    {% endif %}
                                </span>
                            </div>
              
            </div>
{% endblock %}