{% extends "base.html" %}

{% block content %}
                <div class="col-sm-12">
                    <h2>Click project to edit!</h2>
                    <form name="inform" action="" method="POST">
                        {% csrf_token %}
                          <div class="panel panel-default">
                            <div class="panel_heading">
                              <h3 class="panel-title"><b>Published projects</b></h3>
                            </div>
                            <div class="panel-body">

                        <div class="col-sm-12">

                            {% if user_projects %}
                              {% for project in user_projects %}
                        <div class="project_item">
                        <h3>
                            <a href="{% url 'projects:edit_project' project.id %}">{{ project.title }}</a>
                        </h3>
                        <div class="project_atributes">
                        Author: <b><a href="{% url 'projects:profile_page' project.user.username %}">{{ project.user.username }}</a></b>
                        Category:  <b>{{ project.category }}</b>
                        Sub-category:  <b>{{ project.sub_category }}</b>
                        Level:  <b>{{ project.difficulty_level }}</b>
                        Publication date: <b>{{ project.pub_date }}</b>
                        Likes = <b>{{ project.likes }}</b>
                        </div>
                        <p>{{ project.description }}</p>
                        </div>

                        {% endfor %}
                      {% else %}
                      <a href="{% url 'projects:add_project' %}" class="list-group-item">
                      <h4 class="list-group-item-heading">No published projects</h4>
                      <p class="list-group-item-text">Publish a project by by clicking here!</p>
                    </a>
                      {% endif %}
                        </div><!-- /.col-sm-4 -->
                    </div>
                  </div>
                </form>
                </div>


{% endblock %}