{% extends "base.html" %}

{% block content %}

    <div class="container">
    <h2>Add a project:</h2>
    <form method="POST" action="" enctype="multipart/form-data">

    {% csrf_token %}

    <div class="container">
        {% for field in form %}
        <h3><label class="label label-primary">Project {{ field.label }}
            {% if field.field.required %}
            - Required
            {% else %}
            - Optional
            {% endif %}
            {{ field.error }}
            </label></h3>{{ field.errors }}<h4>{{ field }}</h4>
        {% endfor %}



    </div>

    <div class="container">
        <button class="btn btn-primary btn-lg" id="SubmittButton" type="submit" name="submit_button">Edit project</button>
    </div>

    </form>

    </div>

{% endblock %}