{% extends "base.html" %}

{% block content %}


      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
          <img class="logo" src="/static/projects/images/khdlogo2.png">
        <h3>Välkommen till <b>Kids Hack Days</b> projektsida!</h3>
      </div>
            
          <div class="panel_heading">
              <h3 class="panel-title"><b>Nya artiklar</b></h3>
          </div>
          <div class="panel panel-default">

            <div class="panel-body">
    
                        {% for project in new_projects %}
                        <div class="project_item">
                        <h3>
                            <a href="{% url 'projects:project_viewer' project.user.username project.id project.slug %}">{{ project.title }}</a>
                        </h3>
                        <div class="project_atributes">
                        Författare: <b><a href="{% url 'projects:profile_page' project.user.username %}">{{ project.user.username }}</a></b>
                        Kategori:  <b>{{ project.category }}</b>
                        underkategori:  <b>{{ project.sub_category }}</b>
                        nivå:  <b>{{ project.difficulty_level }}</b>
                        Publiceringsdatum: <b>{{ project.pub_date }}</b>
                        </div>
                        <p>{{ project.description }}</p>
                        </div>
                        {% endfor %}
                
                </div>
            </div>

{% endblock %}

