{% extends "base.html" %}

{% block content %}

                <div class="col-sm-4">
                  <div class="panel panel-default">
                    <div class="panel_heading">
                      <h3 class="panel-title"><b>Profile picture</b></h3>
                    </div>
                    <div class="panel-body">
                        {% if user_profile.picture %}
                        <img class="profile-picture" src="{{ user_profile.picture.url }}">
                        {% else %}
                        <p>{{ profile_user.username }} has not uploaded a profile picture</p>
                        {% endif %}

                    </div>
                  </div>
                </div>
                
                <div class="col-sm-8">
                  <div class="panel panel-default">
                    <div class="panel_heading">
                      <h3 class="panel-title"><b>Information</b> </h3>
                    </div>
                    <div class="panel-body">

                        <div class="project_item">
                            <b>Username:</b> {{ profile_user.username }}
                        </div>
                        
                        <div class="project_item">
                            <b>Email:</b> {{ profile_user.email }}
                        </div>
                        
                        <div class="project_item">
                            <b>First name:</b> {{ profile_user.first_name }}
                        </div>
                        
                        <div class="project_item">
                            <b>Last Name:</b> {{ profile_user.last_name }}
                        </div>
                        
                        <div class="project_item">
                            <b>Description:</b> {{ user_profile.description }}
                        </div>

                        <div class="project_item">
                            <h4><a href="{% url 'projects:edit_profile' %}"><b>
                                <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Edit profile</b></a></h4>
                        </div>
                    </div>

                  </div>
                </div>



                <div class="col-sm-12">
                          <div class="panel panel-default">
                            <div class="panel_heading">
                              <h3 class="panel-title"><b>Published projects</b></h3>
                            </div>
                            <div class="panel-body">        
                        
                        <div class="col-sm-12">
                            
                            {% if user_projects %}
                              {% for project in user_projects %}
                        <div class="project_item">
                        <h3>
                            <a href="{% url 'projects:project_viewer' project.user.username project.id project.slug %}">{{ project.title }}</a>
                        </h3>
                        <div class="project_atributes">
                        Author: <b><a href="{% url 'projects:profile_page' project.user.username %}">{{ project.user.username }}</a></b>
                        Category:  <b>{{ project.category }}</b>
                        Sub-category:  <b>{{ project.sub_category }}</b>
                        Level:  <b>{{ project.difficulty_level }}</b>
                        Publication date: <b>{{ project.pub_date }}</b>
                        </div>
                        <p>{{ project.description }}</p>
                        </div>
                        {% endfor %}
                      {% else %}
                      <a href="{% url 'projects:add_project' %}" class="list-group-item">
                      <h4 class="list-group-item-heading">No published projects</h4>
                      <p class="list-group-item-text">Publish a project by by clicking here!</p>
                    </a>
                      {% endif %}
                            
                        </div><!-- /.col-sm-4 -->
                
                    </div>
                  </div>
                </div>

{% endblock %}

<div class="col-sm-4">
                    
                </div><!-- /.col-sm-4 -->
                
                <div class="col-sm-8">
                  
                </div><!-- /.col-sm-4 -->