{% extends "base.html" %}

{% block content %}

                <div class="col-sm-4">
                  <div class="panel panel-default">
                    <div class="panel_heading">
                      <h3 class="panel-title"><b>Profilbild</b></h3>
                    </div>
                    <div class="panel-body">
                        {% if user_profile.picture %}
                        <img class="profile-picture" src="{{ user_profile.picture.url }}">
                        {% else %}
                        <p>{{ profile_user.username }} har inte laddat upp en profilbild</p>
                        {% endif %}

                    </div>
                  </div>
                </div>
                
                <div class="col-sm-8">
                  <div class="panel panel-default">
                    <div class="panel_heading">
                      <h3 class="panel-title"><b>Information</b> </h3>
                    </div>
                    <div class="panel-body">

                        <div class="project_item">
                            <b>Användarnamn:</b> {{ profile_user.username }}
                        </div>
                        
                        <div class="project_item">
                            <b>Email:</b> {{ profile_user.email }}
                        </div>
                        
                        <div class="project_item">
                            <b>Förnamn:</b> {{ profile_user.first_name }}
                        </div>
                        
                        <div class="project_item">
                            <b>Efternamn:</b> {{ profile_user.last_name }}
                        </div>
                        
                        <div class="project_item">
                            <b>Beskrivning:</b> {{ user_profile.description }}
                        </div>

                        <div class="project_item">
                            <h4><a href="{% url 'projects:edit_profile' %}"><b>
                                <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>Redigera profilen</b></a></h4>
                        </div>
                    </div>

                  </div>
                </div>



                <div class="col-sm-12">
                          <div class="panel panel-default">
                            <div class="panel_heading">
                              <h3 class="panel-title"><b>Publicerade artiklar</b></h3>
                            </div>
                            <div class="panel-body">        
                        
                        <div class="col-sm-12">
                            
                            {% if user_projects %}
                              {% for project in user_projects %}
                        <div class="project_item">
                        <h3>
                            <a href="{% url 'projects:project_viewer' project.user.username project.id project.slug %}">{{ project.title }}</a>
                        </h3>
                        <div class="project_atributes">
                        Författare: <b><a href="{% url 'projects:profile_page' project.user.username %}">{{ project.user.username }}</a></b>
                        Kategori:  <b>{{ project.category }}</b>
                        Underkategori:  <b>{{ project.sub_category }}</b>
                        Nivå:  <b>{{ project.difficulty_level }}</b>
                        Publiceringsdatum: <b>{{ project.pub_date }}</b>
                        </div>
                        <p>{{ project.description }}</p>
                        </div>
                        {% endfor %}
                      {% else %}
                      <a href="{% url 'projects:add_project' %}" class="list-group-item">
                      <h4 class="list-group-item-heading">Inga publicerade projekt</h4>
                      <p class="list-group-item-text">Publicera ett projekt genom att klicka här!</p>
                    </a>
                      {% endif %}
                            
                        </div><!-- /.col-sm-4 -->
                
                    </div>
                  </div>
                </div>

{% endblock %}

<div class="col-sm-4">
                    
                </div><!-- /.col-sm-4 -->
                
                <div class="col-sm-8">
                  
                </div><!-- /.col-sm-4 -->