{% extends "base.html" %}

{% block content %}

<script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"], ],
          processEscapes: true
        }
      });
    </script>

      <script type="text/javascript"
          src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>

                        <div class="project_item">

                        <div class="project_atributes">
                        Författare: <b><a href="{% url 'projects:profile_page' project.user.username %}">{{ project.user.username }}</a></b>
                        Kategori:  <b>{{ project.category }}</b>
                            Underkategori:  <b>{{ project.sub_category }}</b>
                            Nivå:  <b>{{ project.difficulty_level }}</b>
                        Publiceringsdatum: <b>{{ project.pub_date }}</b>
                        </div>
                        </div>
                              <h1>{{ project.title }}</h1>

    <div>
      {% load markdown_filter %}

      {{ project.article|custom_markdown|safe }}

    </div>

{% endblock %}