<html manifest=node.manifest>
<head>
  <meta charset="utf-8">

</head>
<body>

{% extends "blockly_base.html" %}

{% block content %}

  <table height="100%" width="100%">
    <tr>
      <td>

        <div class="jumbotron">
        <h2><a href="https://github.com/gasolin/BlocklyDuino/wiki">BlocklyDuino</a></h2>
        <h3>A web-based visual programming editor for Arduino</h3>

      </div>
      </td>
    </tr>
    <tr>
      <td>
        <table>
          <tr id="tabRow" height="1em">
            <td id="tab_blocks" class="tabon" onclick="tabClick(this.id)">Blocks</td>
            <td class="tabmin">&nbsp;</td>
            <!--td id="tab_javascript" class="taboff" onclick="tabClick(this.id)">JavaScript</td>
            <td class="tabmin">&nbsp;</td-->
            <!--td id="tab_dart" class="taboff" onclick="tabClick(this.id)">Dart</td>
            <td class="tabmin">&nbsp;</td>
            <td id="tab_python" class="taboff" onclick="tabClick(this.id)">Python</td>
            <td class="tabmin">&nbsp;</td-->
            <td id="tab_arduino" class="taboff" onclick="tabClick(this.id)">Arduino</td>
            <td class="tabmin">&nbsp;</td>
            <td id="tab_xml" class="taboff" onclick="tabClick(this.id)">XML</td>
            <td class="tabmax">
              <button onclick="discard()">Discard</button>
              <button onclick="save()">Save XML</button>
              <button id="fakeload">Load XML</button>
              <input type="file" id="load" style="display: none;"/>
              <!--button class="launch" onclick="runJS()">Run Program</button-->
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td height="99%">
        <iframe id="content_blocks" src="frame.html"></iframe>
		<!--div id="content_blocks" style="height:auto !important;height:400px; min-height:400px;"></div-->
        <!--pre id="content_javascript"></pre>
        <pre id="content_dart"></pre-->
        <div id="content_arduino">
          <button type="button" onclick="uploadClick()">Upload</button>
          <button type="button" onclick="resetClick()">Reset</button>
          <textarea id="textarea_arduino" readonly></textarea>
        </div>
        <!--pre id="content_python"></pre-->
        <div id="content_xml">
          <textarea id="textarea_xml" readonly></textarea>
        </div>
      </td>
    </tr>
  </table>

  <iframe style="height: 800px; width: 100%; margin: 10px 0 10px;" allowTransparency="true" src="https://codebender.cc/how_it_works" frameborder="0"></iframe>

{% endblock %}
</body>
</html>
